@import 'src/theme.scss';

.crt-review-card{
  position: relative;
  min-height: 100px;
  padding: 16px;
  margin-top: 16px;

  .crt-review-card-wrapper{
    position: relative;
    width: 100%;
    min-height: 100px;

    .crt-review-card-header{
      position: relative;
      height: 64px;
      min-width: 64px;
      overflow: hidden;
      margin-bottom: 8px;

      img{
        position: absolute;
        width: 64px;
        left: 0;
        top: 0;
      }

      > h4{
        left: 72px;
        top: 12px;
        width: 64px;
        display: inline-block;
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #dddddd;
      }

      .crt-review-links{
        position: absolute;
        top: 10px;
        right: 250px;
      }
      star-rating{
        position: absolute;
        top: 0;
        right: 0px;
      }
    }

    .crt-review-card-content{
      position: relative;

      > p{
        font-size: 14px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #888888;
      }

      .crt-review-card-reply{
        display: flex;

        span:first-child{
          height: 64px;
          min-width: 64px;
          overflow: hidden;

          label{
            color: mat-color($critic-primary, 300);
            font-weight: 400;
            line-height: 22px;
          }

          img{
            display: block;
            width: 64px;
            left: 0;
            top: 0;
          }
        }

        span:last-child{
          flex-grow: 1;
          margin-left: 16px;

          h4{
            width: 64px;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            color: #dddddd;
            margin: 0;
            font-style: italic;
          }

          p{
            font-size: 14px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #888888;
            font-style: italic;
          }
        }
      }
    }
  }

  .crt-review-card-editable{
    .crt-review-card-header{
      position: relative;
      height: 72px;

      img{
        position: absolute;
        width: 64px;
        height: 64px;
        left: 0;
        top: 0;
      }
      .crt-review-editable-date{
        position: absolute;
        top: 0;
        left: 88px;
      }
      star-rating{
        position: absolute;
        top: 0;
        right: 0px;
      }
    }
    .crt-review-card-content{
      position: relative;

      .crt-review-editable-comment{
        width: 100%;
      }
    }
  }

  .crt-review-reply-editable{
    mat-form-field {
      display: block;
    }
  }

  .crt-review-card-buttons{
    text-align: right;

    button{
      color: mat-color($critic-primary, 300);
      margin-left: 16px;
    }
  }

  .crt-review-links{

    mat-button{
      margin-right: 16px;
      color: mat-color($critic-accent, 300);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


@media only screen and (max-width: $mobile) {

  .crt-review-card{
    .crt-review-card-wrapper{
      .crt-review-card-header{
        > h4{
          top: 36px;
        }
        star-rating{
          position: absolute;
          top: -5px;
          left: 80px;
        }
      }

      .crt-review-card-content{

        > p{
          -webkit-line-clamp: 20;
        }

        .crt-review-card-reply{

          span:first-child{
            height: auto;
          }

          span:last-child{
            p{
              -webkit-line-clamp: 10;
            }
          }
        }
      }
    }

    .crt-review-card-editable{
      margin-bottom: 16px;

      .crt-review-card-header{
        .crt-review-editable-date{
          position: relative;
          top: 34px;
        }
        star-rating{
          position: absolute;
          left: 86px;
        }
      }
      .crt-review-card-content{
        position: relative;
        top: 24px;
      }
    }

    .crt-review-card-buttons{
      margin-top: 36px;
    }
  }

}
